body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px);
}

.title {
    grid-column: 2 / 12;
    grid-row: 2;
    font-size: 60px;
    font-weight: lighter;
}

.getal {
    font-weight: 400;
}